html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#count-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}